body{
     font-family: 'Fira Code', monospace;;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    
}

.name-highlight{
    color: orange; 
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.half-width .link-button {
    /* background-color: orange; */
    background-image: linear-gradient(lightsalmon , tomato);
    color: white;
    text-decoration: none;
    padding : 10px 15px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#top-bar{
    background-image: url(images/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 10px;
}

#middle-bar{
    background-image: url(images/dream-bg.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right;
}


