body{
     font-family: 'Fira Code', monospace;;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    
}

.name-highlight{
    color: orange; 
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.half-width button {
    background-color: orange;
    padding : 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#top-bar{
    background-image: url(images/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 10px;
}


